export(transform)
export(find.points)
export(critical)
export(plot.change.points)
export(print.change.points)
export(read.all)
export(read.genbank)
useDynLib(seq2R, .registration = TRUE)
importFrom("seqinr", s2c)
importFrom("graphics", plot, lines, legend, par, layout, image, contour, plot.new, title)
S3method("print", "change.points")
S3method("plot", "change.points")
importFrom("grDevices", "graphics.off")
importFrom("graphics", "abline")
importFrom("stats", "na.omit", "runif")
